body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #dbd8e3;
}
header {
    background: linear-gradient(87.4deg, #5c5470 1.9%, #352f44 49.7%, #2a2438 100.5%);    padding: 1rem 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #007bff;
}

main {
    padding: 2rem;
}

#projects {
    padding: 2rem 0;
    background-color: #dbd8e3;
    text-align: center;
}

.filters {
    margin-bottom: 2rem;
}

.filters button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.filters button.active {
    background-color: #333;
    color: #fff;
    border: none;
    outline: none;
}

.filters button:hover {
    background-color: #0056b3;
    transform: translateY(-3px);
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    color: black;
}

.project-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project-card h2 {
    font-family: 'Poppins', sans-serif;
    margin: 1rem 0 0.5rem;
}

.project-card p {
    padding: 0 1rem;
}

.project-card a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.project-card a:hover {
    color: #0056b3;
}

footer {
    background: linear-gradient(87.4deg, #5c5470 1.9%, #352f44 49.7%, #2a2438 100.5%);    padding: 1rem 0;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

footer .social-links a {
    color: white;
    margin: 0 0.5rem;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer .social-links a:hover {
    color: #007bff;
}